* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoNav {
    width: 7%;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: end;
    /* margin-top: 0px; */
}

.nav-li {
    display: inline;
    margin: 3px;
}

.foot-li {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0.2rem 0;
}

.conteiner {

    /* background-color: #ccc; */
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.vogel {
    background-color: rgba(218, 219, 231, 0.89);


}

.box {

    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    float: left;
    padding: 30px;
    flex-direction: column;


}

.box2 {
    height: auto;
    width: 25rem;
    background-color: rgb(160, 107, 221);
    border: 3px solid black;
    border-radius: 5px;
    padding: 2rem;

}

section {
    margin: 10rem 0;
}


footer {}

.fDiv {
    height: auto;
    width: 250px;
    border-radius: 5px;
    display: inline;
    justify-content: flex-start;
    align-items: center;
    margin: 4rem;
}

.divnew {
    display: flex;
    justify-content: space-between;
   
}

.divSx li {
    color: blueviolet;
    text-align: left;

}

.divDx li {
    color: red;

    /* text-align: right; */
}

.endDiv {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 107, 221);
    padding-top: 20rem 0;

}


.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.vogel2 {
    width: 45%;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.end {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.pDx {
    text-align: right;
}

.newsletter {
    text-align: right;
}

button {
    margin: 0.5rem;
}


/* @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */

  del viewport come condizioni. Ad esempio:

Html e CSS: Media query - Hilary Palmieri
/* Media query per dispositivi con larghezza inferiore a 768 pixel */
@media screen and (max-width: 767px) {
/* Regole CSS per dispositivi mobili */
}
/* Media query per dispositivi con larghezza compresa tra 768 e 1023 pixel */
@media screen and (min-width: 768px) and (max-width: 1023px) {
/* Regole CSS per tablet */
}
/* Media query per dispositivi con larghezza superiore a 1023 pixel */
@media screen and (min-width: 1024px) {
/* Regole CSS per desktop */
}