.txtBlue{
    color: blue;
}
.txtRed{
    color: red;
}
.dimCard{
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 20px;
    float: left;
    border-radius: 10%;
}

img{
    height: 50px;
    width: 50px;
}